<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854365379748-9e5fktdro82rtq25tevliss4s4656o1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854365379748-9e5fktdro82rtq25tevliss4s4656o1o</string>
	<key>API_KEY</key>
	<string>AIzaSyDw0FGGthFmsGYZtWLLGD0QFammrYQOUZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>854365379748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schwammerlapp</string>
	<key>PROJECT_ID</key>
	<string>schwammerlapp-e187</string>
	<key>STORAGE_BUCKET</key>
	<string>schwammerlapp-e187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854365379748:ios:813acfe76c62db6d2c5a31</string>
</dict>
</plist>